.about{
    box-sizing: border-box;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    margin: 0 auto;
}
.about img{
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 2px 2px 14px 1px black;
    border-radius: 12px;
}
img{
    margin: 0 auto;
    max-width: 100%;
}

.description h1 {
    color: #6B6DD3;
    margin-bottom: 10px;
}

.description h3 {
    color: #212529;
    margin-bottom: 20px;
}

.info{
    text-align: left;
    background: #212529;
    color: #FFFFFF;
    padding: 25px 30px;
    border: 5px solid #6B6DD3;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}