.navbar{
  padding: 1.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff !important;
}

.nav-link.active {
  color: #007bff !important;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
    margin-top: 1rem;
  }
}
